<h5>Inputs</h5>

<div class="code-snippet">
    <div class="example">
        <input type="button" value="Input button" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="button" value="Input button" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="checkbox" id="checkbox" class="input-pura">
        <label for="checkbox">Input Checkbox</label>
    </div>
    <div class="code">
        <pre><code highlight='<input type="checkbox" id="checkbox" class="input-pura">
<label for="checkbox">Input Checkbox</label>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="color" id="color" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="color" id="color" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="date" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="date" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="datetime-local" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="datetime-local" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="email" placeholder="Email address" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="email" placeholder="Email address" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="file" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="file" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="month" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="month" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="number" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="number" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="password" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="password" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="radio" id="radio" class="input-pura">
        <label for="radio">Input Radio</label>
    </div>
    <div class="code">
        <pre><code highlight='<input type="radio" id="radio" class="input-pura">
<label for="radio">Input Radio</label>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="range" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="range" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="submit" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="submit" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="text" placeholder="Input text" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="text" placeholder="Input text" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="time" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="time" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="week" class="input-pura">
    </div>
    <div class="code">
        <pre><code highlight='<input type="week" class="input-pura">'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <input type="text" placeholder="Input text" class="input-pura" disabled>
    </div>
    <div class="code">
        <pre><code highlight='<input type="text" placeholder="Input text" class="input-pura" disabled>'></code></pre>
    </div>
</div>