<i id="toggle-menu" class="icon ion-android-menu"></i>

<ul>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h2>
            <li><i-bs name="house"></i-bs> Home</li>
        </h2>
    </a>
    <hr>
    <ng-container *ngFor="let theme of themes | keyvalue">
        <a routerLink="/themes/{{ theme.value.path }}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="selectTheme(theme.value)">
            <h2>
                <li><i-bs name="{{ theme.value.icon }}"></i-bs> {{ theme.value.label }}</li>
            </h2>
        </a>
    </ng-container>
    <hr>
    <a routerLink="/utils" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h2>
            <li><i-bs name="code-square"></i-bs> Utils</li>
        </h2>
    </a>
</ul>