<h5>Links</h5>

<div class="code-snippet">
    <div class="example">
        <a class="a-pura">Link</a>
    </div>
    <div class="code">
        <pre><code highlight='<a class="a-pura">Link</a>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <a class="a-pura a-pura-primary">Primary link</a>
    </div>
    <div class="code">
        <pre><code highlight='<a class="a-pura a-pura-primary">Primary link</a>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <a class="a-pura a-pura-primary a-pura-accent">Primary accent link</a>
    </div>
    <div class="code">
        <pre><code highlight='<a class="a-pura a-pura-primary a-pura-accent">Primary accent link</a>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <a class="a-pura a-pura-primary disabled">Primary disabled a</a>
    </div>
    <div class="code">
        <pre><code highlight='<a class="a-pura a-pura-primary disabled">Primary disabled a</a>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <a class="a-pura a-pura-primary a-pura-accent disabled">Primary disabled accent a</a>
    </div>
    <div class="code">
        <pre><code highlight='<a class="a-pura a-pura-primary a-pura-accent disabled">Primary disabled accent a</a>'></code></pre>
    </div>
</div>