<h5>Tables</h5>

<div class="code-snippet">
    <div class="example">
        <table class="table-pura">
            <thead>
                <tr>
                    <th>TH</th>
                    <th>TH</th>
                    <th>TH</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TD</td>
                    <td>TD</td>
                    <td>TD</td>
                </tr>
                <tr>
                    <td>TD</td>
                    <td>TD</td>
                    <td>TD</td>
                </tr>
                <tr>
                    <td>TD</td>
                    <td>TD</td>
                    <td>TD</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="code">
        <pre><code highlight='
<table class="table-pura">
    <thead>
        <tr>
            <th>TH</th>
            <th>TH</th>
            <th>TH</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TD</td>
            <td>TD</td>
            <td>TD</td>
        </tr>
        <tr>
            <td>TD</td>
            <td>TD</td>
            <td>TD</td>
        </tr>
        <tr>
            <td>TD</td>
            <td>TD</td>
            <td>TD</td>
        </tr>
    </tbody>
</table>
        '></code></pre>
    </div>
</div>