<h5>Buttons</h5>

<button class="btn-pura">Button</button>

<button class="btn-pura btn-pura-primary">Primary button</button>

<button class="btn-pura btn-pura-secondary">Secondary button</button>

<button class="btn-pura btn-pura-primary btn-pura-accent">Primary accent button</button>

<button class="btn-pura btn-pura-secondary btn-pura-accent">Secondary accent button</button>

<button class="btn-pura btn-pura-primary" disabled>Primary disabled button</button>

<button class="btn-pura btn-pura-secondary" disabled>Secondary disabled button</button>

<button class="btn-pura btn-pura-primary btn-pura-accent" disabled>Primary disabled accent button</button>

<button class="btn-pura btn-pura-secondary btn-pura-accent" disabled>Secondary disabled accent button</button>