<h5>Buttons</h5>

<div class="code-snippet">
    <div class="example">
        <button class="btn-pura">Button</button>
    </div>
    <div class="code">
        <pre><code highlight='<button class="btn-pura">Button</button>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <button class="btn-pura btn-pura-primary">Primary button</button>
    </div>
    <div class="code">
        <pre><code highlight='<button class="btn-pura btn-pura-primary">Primary button</button>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <button class="btn-pura btn-pura-secondary">Secondary button</button>
    </div>
    <div class="code">
        <pre><code highlight='<button class="btn-pura btn-pura-secondary">Secondary button</button>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <button class="btn-pura btn-pura-primary btn-pura-accent">Primary accent button</button>
    </div>
    <div class="code">
        <pre><code highlight='<button class="btn-pura btn-pura-primary btn-pura-accent">Primary accent button</button>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <button class="btn-pura btn-pura-secondary btn-pura-accent">Secondary accent button</button>
    </div>
    <div class="code">
        <pre><code highlight='<button class="btn-pura btn-pura-secondary btn-pura-accent">Secondary accent button</button>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <button class="btn-pura btn-pura-primary" disabled>Primary disabled button</button>
    </div>
    <div class="code">
        <pre><code highlight='<button class="btn-pura btn-pura-primary" disabled>Primary disabled button</button>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <button class="btn-pura btn-pura-secondary" disabled>Secondary disabled button</button>
    </div>
    <div class="code">
        <pre><code highlight='<button class="btn-pura btn-pura-secondary" disabled>Secondary disabled button</button>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <button class="btn-pura btn-pura-primary btn-pura-accent" disabled>Primary disabled accent button</button>
    </div>
    <div class="code">
        <pre><code highlight='<button class="btn-pura btn-pura-primary btn-pura-accent" disabled>Primary disabled accent button</button>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <button class="btn-pura btn-pura-secondary btn-pura-accent" disabled>Secondary disabled accent button</button>
    </div>
    <div class="code">
        <pre><code highlight='<button class="btn-pura btn-pura-secondary btn-pura-accent" disabled>Secondary disabled accent button</button>'></code></pre>
    </div>
</div>