@import "variables";

ul {
    list-style-type: none;
    color: $text;
    padding: 40px;
    
    li {
        line-height: 60px;
        cursor: pointer;
        @include transition();

        &:hover {
            @include transition();

            h3 {
                color: $accent;
            }
        }
        &.disabled {
            cursor: default;

            h3 {
                color: $grey;
            }
        }
        &.title {
            h3 {
                font-weight: $font-light;
            }
            &:not(.disabled) {
                h3 {
                    color: $black;
                    font-weight: $font-light;
                }
            }
        }
        h3 {
            margin: 0;
            color: $text;
            @include font-size(20px);
            font-weight: $font-super-light;
        }
        hr {
            border: none;
            border-top: 1px solid $grey;
        }
    }
}
