@import 'variables';

@import url("//fonts.googleapis.com/css?family=Poppins:300italic,400italic,500italic,600italic,700italic,300,400,500,600,700");

html {
    font-family: "Poppins", serif;
    background: white;
    color: $text;
    @include font-size(14px);
    font-weight: $font-light;
}

a {
    text-decoration: none;
    
    &:active,
    &:focus {
        outline: 0 !important;
        border: none;
        -moz-outline-style: none;
    }
}

h4 {
    @include font-size(24px);
    font-weight: $font-light;
}
h5 {
    @include font-size(18px);
    font-weight: $font-normal;
}

#theme {
    hr {
        margin-top: 100px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid $grey;
    }
}



/********** CODE SNIPPETS & HIGHLIGHT.JS **********/

.code-snippet {
    border: 2px solid #f8f8f8;
    max-width: 980px;
    margin-bottom: 40px;

    .example {
        text-align: center;
        padding: 20px;
    }
    .code {
        background: #f8f8f8;
        padding: 20px;
    }
}