<h5>Titles</h5>

<div class="code-snippet">
    <div class="example">
        <h1>H1 title</h1>
    </div>
    <div class="code">
        <pre><code highlight='<h1>H1 title</h1>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <h2>H2 title</h2>
    </div>
    <div class="code">
        <pre><code highlight='<h2>H2 title</h2>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <h3>H3 title</h3>
    </div>
    <div class="code">
        <pre><code highlight='<h3>H3 title</h3>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <h4>H4 title</h4>
    </div>
    <div class="code">
        <pre><code highlight='<h4>H4 title</h4>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <h5>H5 title</h5>
    </div>
    <div class="code">
        <pre><code highlight='<h5>H5 title</h5>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <h6>H6 title</h6>
    </div>
    <div class="code">
        <pre><code highlight='<h6>H6 title</h6>'></code></pre>
    </div>
</div>