@import './../../pura.component.scss';

.chips-pura {
    padding: 5px 15px;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    background: $white-dark;
    @include font-size(16px);
    font-weight: $font-light;
    @include transition();

    &:hover {
        background: $white-super-dark;
        @include transition();
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    &.chips-pura-primary {
        background: $primary;
        color: $white;

        &:hover {
            background: $primary-dark;
        }
        &.chips-pura-accent {
            background: $accent;

            &:hover {
                background: $accent-dark;
            }
        }
    }
    &.chips-pura-secondary {
        border: 1px solid $primary;
        color: $primary;

        &:hover {
            border-color: $primary-dark;
            background: $primary;
            color: $white;
        }
        &.chips-pura-accent {
            border-color: $accent;
            color: $accent;

            &:hover {
                border-color: $accent-dark;
                background: $accent;
                color: $white;
            }
        }
    }
    .icon-right {
        margin-left: 5px;
    }
    .icon-left {
        margin-right: 5px;
    }
}