<h5>Chips</h5>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura">Chips</span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura">Chips</span>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura chips-pura-primary">Primary chips</span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura chips-pura-primary">Primary chips</span>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura chips-pura-secondary">Secondary chips</span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura chips-pura-secondary">Secondary chips</span>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura chips-pura-primary chips-pura-accent">Primary accent chips</span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura chips-pura-primary chips-pura-accent">Primary accent chips</span>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura chips-pura-secondary chips-pura-accent">Secondary accent chips</span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura chips-pura-secondary chips-pura-accent">Secondary accent chips</span>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura chips-pura-primary disabled">Primary disabled chips</span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura chips-pura-primary">Primary disabled chips</span>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura chips-pura-secondary disabled">Secondary disabled chips</span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura chips-pura-secondary disabled">Secondary disabled chips</span>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura chips-pura-primary chips-pura-accent disabled">Primary disabled accent chips</span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura chips-pura-primary chips-pura-accent disabled">Primary disabled accent chips</span>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura chips-pura-secondary chips-pura-accent disabled">Secondary disabled accent chips</span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura chips-pura-secondary chips-pura-accent disabled">Secondary disabled accent chips</span>'></code></pre>
    </div>
</div>

<div class="code-snippet">
    <div class="example">
        <span class="chips-pura chips-pura-primary">Primary chips <i class="fas fa-times icon-right"></i></span>
    </div>
    <div class="code">
        <pre><code highlight='<span class="chips-pura chips-pura-primary">Primary chips <i class="fas fa-times icon-right"></i></span>'></code></pre>
    </div>
</div>